body{
  margin: 0;
  padding: 0;
  margin-top: -10px;
  height: 100%;
  background-color: #000033;
}

.container  {
  position: relative;
  width: 100%;
  background-image: linear-gradient(110deg, #009900 50%,  #000033 50%);
  height: 50vw;
}

#pass, #username
{   
    background-color:white;
    border: 0;
    height: 35px;
    text-align: left;
    padding-left: 38px;
    width:197px;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: url('../img/pass-img.png');
    background-size: 28px;
    background-position: 3px 3px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 1s ease-in-out;
}

#username{
  background-image: url('../img/user-img.png');
  background-size: 25px;
  background-position: 5px 5px;
  padding-left: 38px;
  width: 250px;
}

#input-btn{
  background: transparent;
  background-image: url('../img/login-btn.png');
  -webkit-filter: invert(50);
  background-size: 45px;
  background-position: 0 -3px;
  background-repeat: no-repeat;
  border: 0;
  height: 35px;
  width: 50px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 13px;
  padding: 0;
  margin-top: 12px;
  color: #000033;
  transition: all .2s ease-in-out;
  transform: scale(-1);
}

#input-btn:hover {
  -webkit-transform: scaleX(-1);
}

#r-pass{
  text-decoration: none;
  color: white;
  float: left;
  margin-left: 218px;
  margin-top: 5px;
}

#r-sign{
  text-decoration: none;
  color: white;
  float: left;
  margin-left: 218px;
}

#login-area
{
  width: 400px;
  height: 400px;
  position: absolute;
  margin-top: 8vw;
  margin-left: 34vw;
  border-radius: 20px;
  border: 0;
}

.placeholders {
  margin-top: 10px;
}

#circle{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 4px solid white;
}

#head{
  color: white;
}

#skew-new {
  position: absolute;
  height: 80px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to left, #009900 30%,  #000033 100%);
  margin-bottom: -60px;
  color: white;
}